.acivity-container {
    position: relative;
}

.acivity-container img{
    border-radius: 11px;
}

.acivity-container h2 {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top:0;
    width: 75%;
    font-size: 1.3rem;
    color: white;
    text-shadow: 1px 1px 5px black;
    font-family: 'Palanquin Dark', sans-serif;
}

.acivity-container button {
    position: absolute;
    text-align: center;
    bottom:10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    font-family: 'Palanquin Dark', sans-serif;
    background-color: #2994A4;
    font-size: 1.2rem;
    border-radius: 3px;
    border: none;
    color: white;
}

.acivity-container button:hover,
.acivity-container button:focus,
.acivity-container button:active {
    opacity: 0.9;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;

}


@media only screen and (min-width: 350px) {
    .acivity-container h2 {
       font-size: 2rem;
    }
    .acivity-container button {
        font-size: 1.5rem;
     }
}