.colabora {
    min-height: 85vh;
    padding-top: 14vh;
}

.colabora img {
    width: 50%;
}

.colabora p {
    font-size: 0.8rem;
}

.colabora strong{
    color: #3091a1;
}

.colabora a {
    color: #3091a1;
    font-weight: bolder;
    transition: all .5s ease;
}

.colabora a:hover {
    color: #63afbb;
    text-decoration: none;
}

@media screen and (min-width: 450px) {
    .colabora p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .colabora img {
        width: 100%;
    }
}