.colabora {
    height: 100%;
    padding-top: 12vh;
    max-width: 700px;
}

.colabora a {
    color: #3690a0;
    font-weight: bolder;
    transition: all .5s ease;
}

.colabora a:hover {
    color:#73a5ad;
    text-decoration: none;
}

@media screen and (min-width: 767px) {
    .colabora {
        height: 70vh;
    }
}