.about-card-container {
    border-radius: 5px;
    max-width: 250px;
}

.about-card-container .fa {
    color: #818181;
    font-size: 2rem;
}

.about-card-container h4 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    color: #4F9BA6;
}

.about-card-container ul {
    text-align: justify;
    font-size: 0.7rem;
}