/* The actual timeline (the vertical ruler) */
.discografia {
    transform: skew(0deg, 8deg) translateY(-20px);
    padding-top: 100px;
}

.discografia h4 {
    font-family: 'Caveat', cursive;
    color: #4a94a0;
    font-size: 2.2rem;
    font-weight: bolder;
    padding-bottom: 50px;
}

.timeline {
    position: relative;
    margin: 0 auto;
}


@media screen and (min-width: 400px) {
    .discografia h4 {
        font-size: 2.3rem;
    }
}

@media screen and (min-width: 1200px) {
    .discografia h4 {
        padding-bottom: 0px;
    }
    .discografia {
        padding-top: 0px;
        transform: skew(0deg, 0deg) translateY(-20px);
    }
}