.notfound{
    padding-top: 20vh;
    padding-bottom: 8vh;
    min-height: 85vh;
    background-image: linear-gradient(to bottom, rgb(255 255 255) 40%, #62a3ad 85%);
}

.notfound img{
    width: 60%;
}

@media only screen and (min-width: 992px) {
    .notfound img{
        width: 40%;
    }
}

@media only screen and (min-width: 1200px) {
    .notfound img{
        width: 30%;
    }
}