.notfound{
    padding-top: 20vh;
    padding-bottom: 8vh;
    min-height: 85vh;
    background-image: linear-gradient(to bottom, rgb(255 255 255) 30%, #dce0e0 60%, #a1d5dd 84%, #fff 100%);
}

.notfound img{
    width: 75%;
}

@media only screen and (min-width: 578px) {
    .notfound img{
        width: 40%;
    }
}
@media only screen and (min-width: 992px) {
    .notfound img{
        width: 30%;
    }
}

