.about {
    width: 90%;
    padding-top: 60px;
}


.about-marta {
    position: relative;
}


.about-marta h4 {
    position: absolute;
    top: 57px;
    left: 30px;
    font-family: 'Molle', cursive;
    color: #3690a0;
    font-size: 1.3rem;
}

.about-marta img {
    margin: 40px auto;
    box-shadow: 15px -10px 1px 1px #3690a03d;
}

.discografia-container {
    position: relative;
    margin-top: 100px;
    transform: skew(0deg, -8deg) translateY(-20px);
}

.discografia-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100vw;
    background-image: linear-gradient(rgb(240, 240, 240) 10%, rgb(255, 255, 255) 90%);
}

html {
    overflow-x: hidden;
}


@media screen and (min-width: 400px) {
  
    .about-marta h4 {
        font-size: 1.7rem;
    }

    .about-marta h4 {
        top: 51px;
    }

}



@media screen and (min-width: 576px) {

    .about .title {
        font-size: 3rem;
    }

    .about-marta h4 {
        font-size: 2.1rem;
        top: 92px;
        left: 45px;
    }

    .about {
        width: 80%;
    }

    .about-marta img {
        box-shadow: 30px -20px 1px 1px #3690a03d;
    }

}



@media screen and (min-width: 1200px) {
    .discografia-container {
        transform: skew(0deg, 0deg) translateY(-20px);
    }

    .discografia-container:before {
        width: 25vw;
        background-image: none;
    }
}