.bkg-about {
    background-image: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 20%, #fff 100%);
}

.about {
    padding-top: 80px;
}

.container-sobre {
    border: 5px double #3092a14f;
    color: #6f6f6f;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
}

.about-marta {
    position: relative;
}

.about-marta h4 {
    position: absolute;
    top: 58px;
    left: 30px;
    color: #3091a1;
    font-size: 1.3rem;
    font-weight: 900;
}

.about-marta img {
    width: 95%;
    box-shadow: 15px -10px 1px 1px #3690a03d;
}

.about-marta-description {
    font-size: 0.8rem;
    color: #6f6f6f;
}

@media screen and (min-width: 500px) {
    .about-marta-description {
        font-size: 1rem;
    }
}

@media screen and (min-width: 576px) {
    .about .title {
        font-size: 3rem;
    }

    .about-marta h4 {
        font-size: 2rem;
        top: 80px;
        left: 45px;
    }

    .about-marta img {
        box-shadow: 30px -20px 1px 1px #3690a03d;
    }
}

