.card-detail{
    background-color: #EEECEC;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-bottom: 180px;
}

.card-detail-icon{
    position: absolute;
    top:-30px;
    width: 100%;
}

.card-detail h3{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.card-detail ul{
    padding: 0px 25px 80px;
    margin-left: 35px;
    font-size: 0.9rem;
}

.card-detail-circle{
    position: absolute;
    bottom: -130px;
    right: 20px;
    background-color: #2994A4;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    color: white;
}
