.inicio {
    padding-top: 55px;
}

.inicio-banner {
    position: relative;
    height: 35vh;
    min-height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 50%;
}

.container-sentence {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.container-sentence h3 {
    color: white;
    font-size: 1.3rem;
    font-family: 'Caveat', cursive;
    width: 650px;
    text-shadow: 1px 1px 2px rgb(36, 36, 36);
    margin: auto;
}

.inicio-hacemos-container {
    margin-top: -110px;
    background-color: #c45858;
    padding: 150px 0px 160px;
    clip-path: polygon(0% 90%, 100% 100%, 100% 0%, 0 8%);
}

.inicio-hacemos-container h1 {
    font-family: 'Wolesbro', cursive;
    color: #ffffff;
    font-size: 3rem;
}


@media only screen and (min-width: 576px) {
    .container-sentence h3 {
        font-size: 1.8rem;
    }
    .inicio-hacemos-container {
        clip-path: polygon(0% 80%, 100% 100%, 100% 0%, 0 15%);
    }
}

@media only screen and (min-width: 768px) {
    .container-sentence h3 {
        margin-right: 10vw;
    }
    .inicio-hacemos-container {
        margin-top: -200px;
        padding: 200px 0px 180px;
        clip-path: polygon(0% 78%, 100% 100%, 100% 0%, 0 18%);
    }

    .inicio-hacemos-container h1 {
        font-size: 4rem;
    }
}

@media only screen and (min-width: 992px) {
    .inicio-hacemos-container {
        margin-top: -180px;
        clip-path: polygon(0% 70%, 100% 100%, 100% 0%, 0 20%);
    }
}