.fotos {
    padding-top: 90px;
    width: 85%;
}

.fotos-container {
    column-count: 1; 
    column-gap: 3rem; 
}

@media only screen and (min-width: 992px) {
    .fotos {
        width: 100%;
    }
    .fotos-container {
        column-count: 2;
    }
}