/* The actual content */
.disco {
    padding: 0px 20px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 2px #3091a1;
    margin-bottom: 50px;
}

.disco h2 {
    position: relative;
    font-size: 2.3rem;
    top: -38px;
    text-align: center;
    width: 100%;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px #267e8b;
}

.disco p {
    font-size: 0.6rem;
}

.disco-titulo-autor h3 {
    font-size: 1.1rem;
    color: #3091a1;
    font-family: 'Wolesbro', cursive;
}

.disco-titulo-autor h5 {
    color: rgb(172, 172, 172);
    font-size: 0.6rem;
}

.disco-details {
    margin-top: -18px;
}

.disco-details img {
    width: 100%;
    max-width: 180px;
}

.disco-details h4 {
    font-family: 'Wolesbro', cursive;
    position: relative;
    font-size: 1.rem;
    text-align: center;
    width: 100%;
    color: #b4b4b4;
}

.colaboracion {
    background-color: rgb(245 245 245);
    padding: 15px 15px 0 15px;
    border-radius: 25px;
}

.colabora-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
    color: #c45858;
}


@media screen and (min-width: 400px) {
    .disco-titulo-autor h3{
        font-size: 1.4rem;
    }
    .disco-titulo-autor h5, .colabora-title, .disco p {
        font-size: 0.7rem;
    }
}


@media screen and (min-width: 992px) {
    .disco-titulo {
        font-size: 2rem;
    }

    .disco-titulo-autor h5 {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 1200px),
screen and (max-width:767px) {

    .disco h2 {
        font-size: 2rem;
        top: -30px;
    }

    .disco-details h4 {
        font-size: 1rem;
    }

}

