.footer {
  background-image: url("../../common/images/footer.png");
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  z-index: 1;
}

/* to show while fetching the API*/
.placeholder-footer {
  height: 20vh;
}

.footer h6 {
  font-size: 1.5em;
  font-family: 'Wolesbro', cursive;
}

.footer p {
  font-size: 0.7rem;
}

.footer .fa {
  color: white;
  font-size: 1.3rem;
  transition: all 0.5s ease;
}

.footer .fa:hover {
  color: rgba(253, 253, 253, 0.822);
}



@media screen and (min-width: 400px) {
  .footer h6 {
    font-size: 2rem;
  }

  .footer p {
    font-size: 0.8rem;
  }
}
