.contacto {
    padding-top: 12vh;
    background-image: linear-gradient(to bottom, rgb(255 255 255) 40%, #62a3ad 85%);
}

.contacto img {
    width: 100%;
}

.contacto form {
    max-width: 600px;
}

.contacto label {
    margin-bottom: 0;
}

.contacto .btn {
    background-color: #3091a1;
    color: white;
    padding-bottom: 0;
    border: none;
}

.contacto .btn:hover,
.contacto .btn:active,
.contacto .btn:focus {
    background-color: #509ba8;
    border: none;
    outline: none;
    box-shadow: none;
}


.success-msg,
.error-msg {
    color: white;
    border-radius: 5px;
    max-width: 600px;
}

.success-msg {
    background-color: rgb(115 199 118);
}

.error-msg {
    background-color: rgb(255 120 11 / 58%);
}

.error-email {
    color: red;
    font-size: 0.8rem;
}



@media screen and (min-width: 450px) {
    .contacto img {
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    .contacto img {
        width: 100%;
    }

    .contacto {
        min-height: 85vh;
    }
}