.contacto {
    padding-top: 110px;
    min-height: 85vh;
    background-image: linear-gradient(to bottom, rgb(255 255 255) 30%, #dfdfdf 60%, #a1d5dd 84%, #fff 100%);
}

.contacto p{
    font-size: 0.8rem;
}

.contacto .intro-contact p {
    color: #3091a1;
}

.contacto img {
    width: 100%;
}

.contacto form {
    max-width: 600px;
}

.contacto label {
    color: #3091a1;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0;
}

.contacto input, .contacto textarea {
    border: none;
}

.form-control:focus {
    border: none;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(48 145 161 / 33%);
}

.contacto .btn {
    background-color: #3091a1;
    color: white;
    border: none;
}

.contacto .btn:hover,
.contacto .btn:active,
.contacto .btn:focus {
    background-color: #509ba8;
    border: none;
    outline: none;
    box-shadow: none;
}

.success-msg,
.error-msg {
    color: white;
    border-radius: 5px;
    max-width: 600px;
}

.success-msg {
    background-color: rgb(115 199 118);
}

.error-msg {
    background-color: rgb(255 120 11 / 58%);
}

.error-email {
    color: #e16b6b;
    font-size: 0.8rem;
    font-weight: bold;
}

@media screen and (min-width: 450px) {
    .contacto img {
        width: 70%;
    }
}
