* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Baloo Tammudu 2', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    /* font-family: 'Montaga', serif; */
    font-family: 'Montserrat', sans-serif;
}

.title {
    color: #797979;
    font-weight: bolder;
    font-size: 2rem;
}

.subtitle {
    color: #797979;
    font-weight: bolder;
    font-size: 1.9rem;
}

body {
    /* background-image:url('./common/images/bkg.png'); */
    /* background-image: linear-gradient(to bottom, rgb(255 255 255) 40%, #62a3ad 85%); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 50%;
}

@media only screen and (min-width: 576px) {
    h2 {
        font-size: 3rem;
    }
}