.card-detail {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-bottom: 180px;
    background-color: white;
    border: 10px double #b7d8dd91;
    transform: rotate(-2deg);
    box-shadow: 14px 20px 0px 0px #e6e6e6;
}

.card-detail-icon {
    position: absolute;
    top: -45px;
    color: #c45858;
    width: 100%;
    font-size: 3.5rem;
}

.card-detail h4 {
    font-size: 1.1rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.card-detail ul {
    margin-left: 15px;
    font-size: 0.8rem;
}

.card-detail-circle {
    position: absolute;
    bottom: -130px;
    right: 0px;
    background-color: #3091a1;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    color: white;
}

.card-detail-circle h4 {
    font-family: 'Caveat';
    font-size: 1.2rem;
}

@media only screen and (min-width: 576px) {
    .card-detail h4 {
        font-size: 1.3rem;
    }

    .card-detail ul {
        font-size: 1rem;
        margin-left: 35px;
    }

    .card-detail-circle {
        bottom: -100px;
        right: 20px;
        height: 180px;
        width: 180px;
    }
    
}