@font-face {
    font-family: Wolesbro;
    src: url('common/fonts/Wolesbro.otf');
  }

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-title{
    font-family: 'Wolesbro', cursive;
}

.title {
    color: #c45858;
    font-size: 1.8rem;
}

.subtitle {
    font-weight: bolder;
    color: #c45858;
    font-size: 2.7rem;
    font-family: 'Wolesbro', cursive;
}


[data-aos^=flip][data-aos^=flip].aos-animate {
    opacity: 1;
    transform: translateZ(0);
    z-index: 1;
}

@media only screen and (min-width: 576px) {
    .title {
        font-size: 3rem;
    }
}