/* The actual timeline (the vertical ruler) */
.discografia {
    transform: skew(0deg, 8deg) translateY(-20px);
    padding-top: 100px;
}

.discografia h4 {
    font-family: 'Caveat', cursive;
    font-size: 1.7rem;
    font-weight: bolder;
    padding-bottom: 20px;
}

.title-discografia{
    color:#c84e56;
}

.timeline {
    position: relative;
    left:-20px;
}


@media screen and (min-width: 400px) {
    .discografia h4 {
        font-size: 2.3rem;
    }
    .timeline {
        left:0px;
    }
}

@media screen and (min-width: 576px) {
    .discografia h4 {
        padding-bottom: 40px;

    }
}

@media screen and (min-width: 1200px) {
    .discografia {
        transform: skew(0deg, 0deg) translateY(-20px);
    }
}